<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Datos del panel solar</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Datos del panel solar</h1>
    <form action="/datos/create" method="post">
        <h2>Fecha</h2>
        <label for="fecha">Dia</label>
        <input type="date" name="fecha" id="fecha">

        <h2>Hora</h2>
        <label for="hora_id">Hora</label>
        <select class="hora" name="hora_id" id="hora_id">
            <option value="">Selecciona un horario</option>
            <% locals.horas?.forEach(horas => { %>
                <option value="<%= horas.id %>"><%= horas.hora %></option>
            <% }) %>
        </select>

        <h2>Carga de la casa</h2>
        <label for="output">Output load %</label>
        <input type="number" name="output" id="output">
        <label for="output_active">AC Output Active Power(W)</label>
        <input type="number" name="output_active" id="output_active">

        <h2>Batería</h2>
        <label for="voltaje">Voltaje(V)</label>
        <input type="number" name="voltaje" id="voltaje">
        <label for="porcentaje">Porcentaje</label>
        <input type="number" name="porcentaje" id="porcentaje">
        <label for="charging">Charging Current(A)</label>
        <input type="number" name="charging" id="charging">
        <label for="discharge">Discharge Current(A)</label>
        <input type="number" name="discharge" id="discharge">

        <h2>Panel FV 1(W)</h2>
        <label for="input_voltaje">Input voltaje</label>
        <input type="number" name="input_voltaje" id="input_voltaje">
        <label for="input_power">Input Power</label>
        <input type="number" name="input_power" id="input_power">

        <button type="submit">Enviar</button>
    </form>
</body>
</html>