<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Datos del panel solar</h1>
    </header>

    <div class="content">
        <a href="/datos/create">Subida de datos</a>
        <a href="/datos/listadatos">Lista de datos</a>
    </div>
    
    <footer>
        <p>&copy; 2024 Martin Villalba - Axel Hurt. Todos los derechos reservados.</p>
    </footer>
</body>
</html>