<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bienvenido</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <h1>Datos del panel solar</h1>
    <div class="content">
        <a href="/datos/create">Subida de datos</a>
        <a href="/datos/listadatos">Lista de datos</a>
    </div>
    
</body>
</html>