<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesLD.css">
    <title>Listado de Datos</title>
</head>
<body>
    <header>
        <h1>Subida de Datos</h1>
        <a href="..">Inicio</a>
    </header>

    <main>
        <ul class="datos-list">
            <% datos.forEach(dato => { %>
                <li class="dato-item">
                    <h2 class="toggle-hours"><%= dato.fecha %> ▼</h2>
                    <ul class="hours-list">
                        <% horas.forEach(hora => { %>
                            <li>
                                <a href="/datos/detail/<%= dato.fecha %>/<%= hora %>"><%= hora %></a>
                            </li>
                        <% }) %>
                    </ul>
                </li>
            <% }) %>
        </ul>
    </main>

    <footer>
        <p>&copy; 2024 Martin Villalba - Axel Hurt. Todos los derechos reservados.</p>
        <a href="..">Inicio</a>
    </footer>

    <script>
        document.querySelectorAll('.toggle-hours').forEach(item => {
            item.addEventListener('click', () => {
                const hoursList = item.nextElementSibling;
                hoursList.style.display = hoursList.style.display === 'none' ? 'block' : 'none';
            });
        });
    </script>
</body>
</html>