<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/stylesDetail.css">
    <title>No Hay Datos</title>
</head>
<body>
    <h1>No Hay Datos Disponibles</h1>

    <div class="cuadro-dato">
        <p>No hay datos disponibles para la fecha <%= fecha %> y la hora <%= hora %>.</p>
        <a href="/datos/listadatos">Volver al listado</a>
    </div>
</body>
</html>
