@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: "Josefin Sans", sans-serif;
    color: black;
    transition: .2s linear;
}

body{
    margin: 0;
    background: #24272c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #ff0049;
}

header a {
    text-decoration: none;
    color: #fff;
    background-color: #ff82a5;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

header a:hover {
    background-color: #ff487c;
    transform: scale(1.1);
}

header a:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.cuadro-dato {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;
    width: 320px;
    margin: auto;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.seccion {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.seccion h2{
    margin: 5px 0;
    font-size: 1.2em;
    color: #ff0049;
}

.seccion label {
    margin: 5px 0;
    font-size: 0.9em;
    color: #000;
}

.seccion-botones {
    display: flex;
    justify-content: space-between;
}

.cuadro-dato .btn {
    margin-top: 10px;
}

.cuadro-dato .btn a,
.cuadro-dato .btn button {
    display: inline-block;
    padding: 10px 15px;
    font-size: 0.9em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
}

.cuadro-dato .btn a:hover,
.cuadro-dato .btn button:hover {
    transition: background-color 0.3s ease;
    background-color: #0056b3;
}


footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

footer p {
    color: #fff;
    margin: 0;
    font-size: 1em;
}

footer a {
    text-decoration: none;
    color: #fff;
    background-color: #ff82a5;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
    background-color: #ff487c;
    transform: scale(1.1);
}

footer a:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}
 