@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

*{
    font-family: "Josefin Sans", sans-serif;
    color: #ffffff;
    transition: .2s linear;
}

body{
    margin: 0;
    background: #24272c;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

header h1 {
    margin: 0;
    font-size: 2em;
    color: #ff0049;
}

header a {
    text-decoration: none;
    color: #fff;
    background-color: #ff82a5;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

header a:hover {
    background-color: #ff487c;
    transform: scale(1.1);
}

header a:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}

.content{
    padding-top: 100px;
    text-align: center;
}

a{
    background: #7c0023;
    padding: 10px;
    border-radius: 5px;
    font-size: 2rem;
    cursor: pointer;
}

a:hover{
    color: #ff82a5;
    letter-spacing: .1rem;
}

footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
    box-shadow: 0 -4px 8px rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: auto;
}

footer p {
    margin: 0;
    font-size: 1em;
}

footer a {
    text-decoration: none;
    color: #fff;
    background-color: #ff82a5;
    margin-top: 10px;
    padding: 10px 20px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

footer a:hover {
    background-color: #ff487c;
    transform: scale(1.1);
}

footer a:active {
    transform: scale(0.95);
    transition: transform 0.1s ease;
}